<!doctype html>
<html lang="pt">
    <head>
		<meta charset="utf-8">
		<meta name="author" content="Hora Marcada">
		<title>Cadastro prestador de serviço</title>
		<link rel="stylesheet" href="css/style2.css">
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
    <body>
        <!--<header>
                <div class="box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Search..." />
                    </div>
                </div>		
        </header> -->
        <div class="container2" id="container">
            <div class="form-container sign-up-container"></div>
            <div class="form-container sign-in-container">
                <form action="#">
                <h1>Cadastro - Prestador de serviço</h1> <br><br>
                    <input type="text" placeholder="Nome" >
                    <input type="email" placeholder="E-mail" />
                    <input type="tel" placeholder="Telefone/Celular" />
                    <input type="password" placeholder="Senha" />
                    <input type="password" placeholder="Confirmação de Senha" />
                    <input type="text" placeholder="Endereço" />
                    <input type="text" placeholder="Bairro" />
                    <input type="text" placeholder="Cidade/Estado" />
                    <p id="cad">Trabalho em:</p>
                    <label id="domicilio">Domicílio</label>
                    <input type="radio" id="domicilio2"/> 
                    <label id="studio">Studio</label>
                    <input type="radio" id="studio2"/> <br>
                    <label id="termoco">Li e concordo com os Termos de Uso.</label>
                    <input type="checkbox" id="termo" checked/>
                    <a href="cadastro_consumidor.html"><button class="cadastro_ps">Cadastrar-se como <br> consumidor</button></a> 
                    <button type="submit" class="confirmar">Confirmar</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="cadastro overlay-panel overlay-right">
                        <h2>Já possui <br> uma conta?</h2>
                        <button class="ghost">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>